.side {
    position: fixed;
    display: inline-block;
    z-index: 2;
}

.navigation {
    border: 2px solid rgb(128, 128, 128);
    height: 100vh;
    width: 70px;
    position: relative;
    background-color: rgb(177, 177, 177);
    box-shadow: 8px 0 0 rgb(128, 128, 128);
    border-left: 10px solid rgb(177, 177, 177);
    overflow-x: hidden;
    transition: all 0.5s;
    
}

.navigation:hover {
    width: 250px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}

.navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.navigation ul li:hover {
    background-color: rgba(143, 143, 143, 0.422);
}

.navigation ul li.active {
    background-color: rgb(128, 128, 128);
}

.navigation ul li.active::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -30px;
    right: 0;
    border-radius: 50%;
    box-shadow: 15px 15px  rgb(128, 128, 128);
}

.navigation ul li.active::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 60px;
    right: 0;
    border-radius: 50%;
    box-shadow: 15px -15px  rgb(128, 128, 128);
}

.navigation ul li a {
    text-decoration:  none;
    color: black;
    width: 100%;
    display: flex;
    position: relative;
}

.navigation ul li a .icon {
    display: block;
    min-width: 45px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
}

.navigation ul li a .title {
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}